@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline:100,200,300,400,500,600,700');


html,

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-image: url("../images/bgimage.jpg");
  background-color: #161677;
  background-size: cover;
  font-family: 'Fascinate inline', sans-serif;
  text-shadow: 1px 1px 6px #000000;
}

.row {
  text-align: center;
  padding: 10px;
  margin: 0;
  width: 100%;
  height: 100%;
}

a {
  color: #39ff14;
  padding-top: 5px;
  font-size: 1.5em;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.rules-col {
  margin-bottom: 50px;
}

h1 {
  color: #fff;
  margin-top: 10px;
}

.label {
  position: absolute;
  font-size: 2.2em;
  color: #000;
  font-weight: bold;
  margin-top: 10px;
}


/* Modal */

.modal-content {
  background-image: url("../images/bgimage.jpg");
  text-align: left;
  font-size: 1.2em;
  color: #39ff14;
}

.btn-modal {
  color: #39ff14;
  padding-top: 5px;
  font-size: 1.5em;
}

.btn-modal:hover {
  color: #fff;
}

/* Containers */

.header {
  color: white;
  text-align: center;
}

.outer-circle {
  padding: 0;
  margin: auto;
  width: 100%;
  height: 100vw;
  max-width: 600px;
  max-height: 600px;
  border-radius: 50%;
  background-color: transparent;
  margin-bottom: 230px;
  display: flex;
}


.strict {
  position: absolute;
  margin-top: 149px;
  margin-left: 50px;
  padding: 0px;
  width: 29%;
  line-height: 0;
}


.footer {
  color: #fff;
}


/* Controls */

.inner-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  background-color: #fff;
  top: 27%;
  left: 27%;
  width: 46vw;
  height: 46vw;
  max-width: 270px;
  max-height: 270px;
  border: solid 13px #000;
  border-radius: 50%;
  line-height: 50px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}


#turn {
  position: absolute;
  top: 70px;
  max-width: 100px;
  max-height: 55px;
  color: #ff0000;
  background-color: #000;
  width: 39vw;
  height: 11vw;
  margin: auto;
  border: solid 3px #ff0000;
  border-radius: 6px;
  font-size: 2em;
}

.start-button {
  float: left;
  margin-right: 100px;
  margin-top: 135px;
  padding: 10px;
  line-height: 3em;
  font-weight: bold;
  background-color: #39ff14;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: solid 2px #000;
}

.start-button:active {
  background-color: #ccff00;
}

.strict-switch {
  margin-top: 17px;
}

.strict-label {
  color: #000;
}

input[type="checkbox"] {
  position: relative;
  width: 67px;
  height: 35px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #3e8231;
  border: solid 1px #000;
  border-radius: 25vw;
}

input:checked[type="checkbox"] {
  background-color: #39ff14;
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: solid .5px #000;
  background-color: #fff;
  box-shadow: 2px 2px 15px #444;
}

input:checked[type="checkbox"]:before {
  left: 35px;
}


/* Simon Board Pad Colours */

.pad {
  float: left;
  position: relative;
  width: 50%;
  height: 50vw;
  border: solid 12px #000;
  max-width: 300px;
  max-height: 300px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-shadow: 1px 1px 12px #000000;

}


#greenpad {
  position: absolute;
  height: 250px;
  width: 250px;
  border-radius: 250px 0 0 0;
  -moz-border-radius: 250px 0 0 0;
  -webkit-border-radius: 250px 0 0 0;
  background: #4CBB17;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px -250px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#redpad {
  position: absolute;
  height: 250px;
  width: 250px;
  -moz-border-radius: 0 250px 0 0;
  -webkit-border-radius: 0 250px 0 0;
  background: #a30b0b;
  top: 50%;
  left: 50%;
  margin: -250px 0px 0px 0px;
  border-style: solid;
  border-width: 5px;
  box-shadow: 10px 10px 5px grey;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#yellowpad {
  position: absolute;
  height: 250px;
  width: 250px;
  -moz-border-radius: 0 0 0 250px;
  -webkit-border-radius: 0 0 0 250px;
  background: #daa520;
  top: 50%;
  left: 50%;
  margin: 0px -250px 0px -250px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px grey;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#bluepad {
  position: absolute;
  height: 250px;
  width: 250px;
  -moz-border-radius: 0 0 250px 0;
  -webkit-border-radius: 0 0 250px 0;
  background: #00008b;
  top: 50%;
  left: 50%;
  margin: 0px 0px -250px 0px;
  border-style: solid;
  border-width: 5px;
  box-sizing: border-box;
  box-shadow: 10px 10px 5px grey;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Media Queries */

@media screen and (max-device-width: 600px) {

  .label {
    font-size: 6vw;

  }

  #turn {
    top: 13vw;
    width: 13vw;
    height: 9vw;
    font-size: 5vw;
    line-height: 7vw;
    border-radius: 2.3vw;
  }

  #start {
    font-size: 2.7vw;
    height: 11.3vw;
    width: 11.3vw;
    margin-right: 16.2vw;
    margin-top: 22.8vw;
    padding: 1.6vw 1.4vw;
  }

  .container.strict {
    bottom: 1vw;
    height: 15vw;
    width: 25vw;
    margin-left: 9vw;
    font-size: 3vw;
  }
  input[type="checkbox"] {
    height: 6.1vw;
    width: 11.3vw;
    border-radius: 25vw;
    -webkit-box-shadow: inset 0 0 2vw rgb(103, 103, 103);
    -o-box-shadow: inset 0 0 2vw rgb(103, 103, 103);
    box-shadow: inset 0 0 2vw rgb(103, 103, 103);
  }
  input[type="checkbox"]:before {
    height: 6.1vw;
    width: 6.1vw;
  }

  input:checked[type="checkbox"]:before {
    left: 6.1vw;
  }
}


@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  .label {
    font-size: 6vw;
  }

  #turn {
    top: 8vw;
    width: 13vw;
    height: 9vw;
    font-size: 5vw;
    line-height: 7vw;
    border-radius: 2.3vw;
  }

  #start {
    font-size: 3vw;
    line-height: 7vw;
    height: 10.5vw;
    width: 11.3vw;
    margin-right: 16.2vw;
    margin-top: 16.1vw;
    margin-bottom: 10vw;
  }


  .container.strict {
    bottom: 3.5vw;
    height: 10vw;
    width: 15vw;
    margin-right: 5vw;
    font-size: 3vw;
  }
  
  input[type="checkbox"] {
    height: 4.8vw;
    width: 11.3vw;
    border-radius: 25vw;
    -webkit-box-shadow: inset 0 0 2vw rgb(103, 103, 103);
    -o-box-shadow: inset 0 0 2vw rgb(103, 103, 103);
    box-shadow: inset 0 0 2vw rgb(103, 103, 103);
  }
  input[type="checkbox"]:before {
    height: 5.1vw;
    width: 6.1vw;
  }

  input:checked[type="checkbox"]:before {
    left: 6.1vw;
  }
}
